<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Follow List</title>
</head>
<body>
<div>
    <a href="/friend/my-follow-list">팔로우</a>
    <a href="/friend/recommend-list">추천 유저</a>
    <a href="/account/logout">로그아웃</a>
</div>
    <ul>
        <li th:each="user : ${list}">
            <span th:text="${user.phoneNumber}"></span>
            <a th:href="@{/friend/unfollow(id=${user.phoneNumber})}">언팔로우</a>
        </li>
    </ul>
</body>
</html>