<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/global.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{update}" method="post">
    <div>아이디:
        <input type="text" placeholder="아이디" id="id1"/>
    </div>
    <div>중복체크:
        <input type="text" placeholder="중복체크" id="id2"/>
    </div>
    <input type="hidden" name="id" id="id3"/>
    <br/>
    <div id="warning" style="color:#ee3311;"></div>
    <button type="submit" onclick="checkId(event)">아이디 변경</button>
</form>
<script>
    checkId = function (event) {
        event.preventDefault();
        if(document.getElementById("id1").value === "") return
        if (document.getElementById("id1").value === document.getElementById("id2").value) {
            document.getElementById("id3").value = document.getElementById("id2").value;
            document.querySelector("form").submit();
        } else{
            document.getElementById("warning").innerText="아이디가 다릅니다."
        }
    }
</script>
</body>
</html>